@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@using Nop.Plugin.Payments.SkipCash.Models

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
<form asp-controller="PaymentSkipCash" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-header">
                SkipCash Payment Gateway Configuration
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiBaseUrl_OverrideForStore" asp-input="ApiBaseUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiBaseUrl" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiBaseUrl" />
                        <span asp-validation-for="ApiBaseUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="KeyId_OverrideForStore" asp-input="KeyId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="KeyId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="KeyId" />
                        <span asp-validation-for="KeyId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="KeySecret_OverrideForStore" asp-input="KeySecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="KeySecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="KeySecret" />
                        <span asp-validation-for="KeySecret"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantUid_OverrideForStore" asp-input="MerchantUid" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantUid" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantUid" />
                        <span asp-validation-for="MerchantUid"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebhookKey_OverrideForStore" asp-input="WebhookKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebhookKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WebhookKey" />
                        <span asp-validation-for="WebhookKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
